<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.janmuller.android.simplecropimage">

    <application android:allowBackup="false">
        <activity
            android:name="eu.janmuller.android.simplecropimage.CropImage"
            android:theme="@style/CropImageTheme" />
    </application>

</manifest>
